<div class="wrapper fadeInDown">
    <div id="formContent">
        <form>
            <input type="text" [(ngModel)]="correo" id="login" class="fadeIn second" name="login" placeholder="Correo">
            <input type="password" [(ngModel)]="contrasena" id="password" class="fadeIn third" name="login"
                placeholder="Contraseña">
            <button class="btn btn-success" (click)="Ingresar()">Ingresar</button>
        </form>

        <div id="formFooter">
            <a class="underlineHover" routerLink="/registroCliente">No tienes usuario? Registrate.</a>
        </div>

    </div>
</div>