<div class="wrapper fadeInDown">

    <div id="formContent">
        <div>
            <img src="https://previews.123rf.com/images/makc76/makc761810/makc76181000236/110877465-lunch-break-or-lunch-time-lunch-box-with-school-lunch-apple-and-water-vector-illustration-in-cartoon.jpg"
                style="width: 100%; margin-left: auto; margin-right: auto;">
        </div>
        <form>
            <input type="text" [(ngModel)]="correo" id="login" class="fadeIn second" name="login" placeholder="Correo">
            <input type="password" [(ngModel)]="contrasena" id="password" class="fadeIn third" name="login"
                placeholder="Contraseña">
            <button class="btn btn-success" (click)="Ingresar()">Ingresar</button>
        </form>

        <div id="formFooter">
            <a class="underlineHover" routerLink="/registroCliente">No tienes usuario? Registrate.</a>
        </div>

    </div>
</div>