<!-- <ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/">LONCHERAS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/registroCliente">Registrar cliente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/registroMembresia">Registrar Membresia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/registroProveedor">Registrar Proveedor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaClientes">Lista clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaHijos">Lista hijos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaProductos">Lista productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaProveedores">Lista Proveedores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaMembresias">Lista Membresias</a>
  </li>
</ul> -->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar style="background-color: green; color: white;" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Lunch App {{usuario.nombre}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">{{nav.name}}</a>
        <a mat-list-item href="/" (click)="cerrarSesion()">
          <mat-icon>subdirectory_arrow_left</mat-icon> Salir
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>