<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/">LONCHERAS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/registroCliente">Registrar cliente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/registroMembresia">Registrar Membresia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/registroProveedor">Registrar Proveedor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaClientes">Lista clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaHijos">Lista hijos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaProductos">Lista productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaProveedores">Lista Proveedores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/listaMembresias">Lista Membresias</a>
  </li>
</ul>