<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-header">
            <h1>Registro de Hijo</h1>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="ti" [(ngModel)]="hijo.ti" placeholder="T.I." class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="hijo.nombre" placeholder="Nombre"
                        class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="hijo.apellido" name="apellido" placeholder="Apellido"
                        class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" [(ngModel)]="hijo.direccion"
                        placeholder="Dirección" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" [(ngModel)]="hijo.telefono" placeholder="Telefono de Contacto"
                        class="form-control">
                </div>
            </form>
            <div>
                <label>Seleccione la membresia:</label>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="hijo.id_membresia">
                    <mat-radio-button *ngFor="let m of membresia" [value]="m.id_membresia">{{m.tipo_lonchera}} -
                        {{m.costo}} $ - {{m.cantidad_lonchera}} loncheras
                    </mat-radio-button>
                </mat-radio-group><br>
            </div>
            <form>
                <button class="btn btn-success btn-block" (click)="crearHijo()">Registrar Hijo</button>
            </form>

        </div>
    </div>
</div>